@model test5.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create New User</h2>

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "User"))
{ 
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.User.First)
        @Html.TextBoxFor(m => m.User.First, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.First)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Last)
        @Html.TextBoxFor(m => m.User.Last, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Last)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Address1)
        @Html.TextBoxFor(m => m.User.Address1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Address1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Address2)
        @Html.TextBoxFor(m => m.User.Address2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Address2)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.State)
        @Html.TextBoxFor(m => m.User.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.State)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Zip)
        @Html.TextBoxFor(m => m.User.Zip, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Zip)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Phone)
        @Html.TextBoxFor(m => m.User.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Email)
        @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Email)
    </div>

    <h4>Payment Options</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.User.CardNumber)
        @Html.TextBoxFor(m => m.User.CardNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.CardNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.ExpDate)
        @Html.TextBoxFor(m => m.User.ExpDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.ExpDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.NameOnCard)
        @Html.TextBoxFor(m => m.User.NameOnCard, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.NameOnCard)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Svc)
        @Html.TextBoxFor(m => m.User.Svc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.Svc)
    </div>


    @Html.HiddenFor(m => m.User.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

<div>
    <a asp-action="ListUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
