@model test5.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>User</h4>
<hr />
<h2>New Customer</h2>

@using (Html.BeginForm("Save", "User"))
{ 
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.User.first)
        @Html.TextBoxFor(m => m.User.first, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.first)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.email)
        @Html.TextBoxFor(m => m.User.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.User.email)
    </div>
    @Html.HiddenFor(m => m.User.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
