@model IEnumerable<test5.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Inventory</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.itemID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.itemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateReceived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.locationID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sellerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.detailedDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discountPrice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detailedDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discountPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
